sudo apt update
sudo apt install git mysql-client -y
git clone -b docker https://github.com/AnmolKushwaha/kube-app.git
mysql -h ${rds-endpoint} -u ${dbuser} --password=${dbpass} accounts --ssl-mode=DISABLED < /home/ubuntu/kube-app/src/main/resources/db_backup.sql
